@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
body {
  font-family: "Be Vietnam Pro", sans-serif !important;
}
.jodit-wysiwyg h1,
.jodit-wysiwyg h2,
.jodit-wysiwyg h3,
.jodit-wysiwyg h4,
.jodit-wysiwyg h5,
.jodit-wysiwyg h6 {
  margin: revert;
  font-size: revert;
  font-weight: revert;
}

/* Reset Tailwind's default list styles and let Jodit handle list-style-type */
.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
  margin: revert;
  padding-left: 2rem;
  list-style: none; /* Reset Tailwind's default list styles */
}

/* Ensure list items inherit the correct styles */
.jodit-wysiwyg ul li,
.jodit-wysiwyg ol li {
  margin: revert;
}

/* Force default list style for ul if no inline style is applied by Jodit */
.jodit-wysiwyg ul:not([style*="list-style-type"]) {
  list-style-type: disc;
}

/* Force default list style for ol if no inline style is applied by Jodit */
.jodit-wysiwyg ol:not([style*="list-style-type"]) {
  list-style-type: decimal;
}

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 4px;
    border-radius: 99px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.Toastify {
  position: absolute;
  z-index: 999999;
  width: 500px !important;
}

.Toastify__toast {
  border-radius: 12px !important;
  font-size: 16px !important;
}

.Toastify__close-button {
  display: none !important;
}

.Toastify__toast-body {
  padding: 10px !important;
}

.Toastify__toast-icon {
  width: 32px;
  height: 32px;
}

.Toastify__toast--success {
  background: #009f65 !important;
}

.Toastify__toast--warning {
  background: #9f6818 !important;
}

.Toastify__toast--info {
  background: #193286 !important;
}

/* CSS LOADING */
/* HTML: <div class="loader"></div> */

.loader-sun-and-moon {
  width: 160px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 100px 100px 0 0;
}
.loader-sun-and-moon:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: radial-gradient(farthest-side, #ffd738 80%, #0000) left 70% top
      20%/15px 15px,
    radial-gradient(farthest-side, #020308 92%, #0000) left 65% bottom 19%/12px
      12px,
    radial-gradient(farthest-side, #ecfefe 92%, #0000) left 70% bottom 20%/15px
      15px,
    linear-gradient(#9eddfe 50%, #020308 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
/* .loader-sun-and-moon:before, */
/* .loader-sun-and-moon:before, */
.loader-sun-and-moon:after {
  content: "";
  position: absolute;
  top: 40px;
  left: -80px;
  width: 36px;
  height: 20px;
  --c: radial-gradient(farthest-side, #fff 96%, #0000);
  background: var(--c) 100% 100% /30% 60%, var(--c) 70% 0 /50% 100%,
    var(--c) 0 100% /36% 68%, var(--c) 27% 18% /26% 40%,
    linear-gradient(#fff 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  animation: l10 2s linear infinite;
}

@keyframes l5 {
  0%,
  20% {
    transform: rotate(0);
  }
  40%,
  60% {
    transform: rotate(0.5turn);
  }
  80%,
  100% {
    transform: rotate(1turn);
  }
}
@keyframes l10 {
  100% {
    left: var(--l, 105%);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn spinner trên Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.text-shadow-custom {
  text-shadow: 2px 1px 1px rgb(134, 134, 134);
}

.hide-after::after{
  display: none !important;
}

.twitter-tweet{
  margin: 10px auto !important
}